{
    "extends" : ["airbnb"],
    "plugins" : [
        "react",
        "import",
    ],
    "parserOptions": {
        "ecmaVersion" : 2015,
        "sourceType": "module",
        "ecmaFeatures": {
          "experimentalObjectRestSpread": true,
          "jsx": true,
        },
    },
    "rules": {
        "react/prop-types": "off",
        "react/no-danger": "off",
        "react/jsx-filename-extension": [1,{ "extensions" : [".js" , ".jsx"]}],
        "linebreak-style" : 0,
        "react/sort-comp": [2, {
          "order": [
            "type-annotations",
            "static-methods",
            "lifecycle",
            "everything-else",
            "render",
          ],
        }],
        "comma-dangle": ["error", {
          "arrays": "always-multiline",
          "objects": "always-multiline",
          "imports": "never",
          "exports": "never",
          "functions": "never",
        }]
    },
    "globals": {
      "graphql": false
    },
    "env": {
      "browser" : true,
      "jest": true,
      "es6": true
    },
    "settings": {
      "import/core-modules": ['react', 'react-helmet'],
      "import/resolver": {
        "node": {
          "paths": ['/src'],
          "moduleDirectory": ['node_modules', 'src']
        },
      },
    }
}
